
<!-- <div class="container"><h1>Bootstrap  tab panel example (using nav-pills)  </h1></div> -->
<div id="exTab1" class="">	
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="{{$location.path}}#/apeksha/apeksha/{{vm.apeksha.id}}#1a" data-toggle="tab">Page 1</a>
			</li>
			<li><a href="{{$location.path}}#/apeksha/apeksha/{{vm.apeksha.id}}#2a" data-toggle="tab">Page 2</a>
			</li>
			<li><a href="{{$location.path}}#/apeksha/apeksha/{{vm.apeksha.id}}#3a" data-toggle="tab">Page 3</a>
            </li>

		</ul>


        
                <div class="">
                        <div class="col-md-6 text-left"><h3><span data-translate="janasanthwanamApp.apeksha.detail.title">Apeksha</span> {{vm.apeksha.applicationNumber}}</h3></div>
                        <div class="col-md-6 text-right"><img ng-click="vm.openWindow(vm.apeksha.photo)" height="150px" width="150px" src="data:image/png;base64, {{ vm.apeksha.photo }}"  /></div>
                      </div>
                






    <hr>
    <jhi-alert-error></jhi-alert-error>





<div class="tab-content clearfix">

       


<div class="tab-pane active" id="1a">    
    <dl class="dl-horizontal jh-entity-details">


        <dt><span data-translate="janasanthwanamApp.apeksha.applicationNumber">Application Number</span></dt>
        <dd>
            <span>{{vm.apeksha.applicationNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.beneficiaryName">Beneficiary Name</span></dt>
        <dd>
            <span>{{vm.apeksha.beneficiaryName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.district">District</span></dt>
        <dd>
            <span>{{vm.apeksha.district}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.gender">Gender</span></dt>
        <dd>
            <span>{{vm.apeksha.gender}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.fathersName">Fathers Name</span></dt>
        <dd>
            <span>{{vm.apeksha.fathersName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.age">Age</span></dt>
        <dd>
            <span>{{vm.apeksha.age}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.dateOfBirth">Date Of Birth</span></dt>
        <dd>
            <span>{{vm.apeksha.dateOfBirth | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.aadharNumber">Aadhar Number</span></dt>
        <dd>
            <span>{{vm.apeksha.aadharNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.rationCardNumber">Ration Card Number</span></dt>
        <dd>
            <span>{{vm.apeksha.rationCardNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.rationCardCategory">Ration Card Category</span></dt>
        <dd>
            <span>{{vm.apeksha.rationCardCategory}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.caste">Caste</span></dt>
        <dd>
            <span>{{vm.apeksha.caste}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.religion">Religion</span></dt>
        <dd>
            <span>{{vm.apeksha.religion}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.houseName">House Name</span></dt>
        <dd>
            <span>{{vm.apeksha.houseName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.houseNumber">House Number</span></dt>
        <dd>
            <span>{{vm.apeksha.houseNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.tcNumber">Tc Number</span></dt>
        <dd>
            <span>{{vm.apeksha.tcNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.place">Place</span></dt>
        <dd>
            <span></span>
        </dd>        
        <dt><span data-translate="janasanthwanamApp.apeksha.village">Village</span></dt>
        <dd>
            <span>{{vm.apeksha.village}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.taluk">Taluk</span></dt>
        <dd>
            <span>{{vm.apeksha.taluk}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.panchayat">Panchayat</span></dt>
        <dd>
            <span>{{vm.apeksha.panchayat}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.postOffice">Post Office</span></dt>
        <dd>
            <span>{{vm.apeksha.postOffice}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.pinCode">Pin Code</span></dt>
        <dd>
            <span>{{vm.apeksha.pinCode}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.mobileNumber">Mobile Number</span></dt>
        <dd>
            <span>{{vm.apeksha.mobileNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landLineWithSTD">Land Line With STD</span></dt>
        <dd>
            <span>{{vm.apeksha.landLineWithSTD}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.occupation">Occupation</span></dt>
        <dd>
            <span>{{vm.apeksha.occupation}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.annualIncome">Annual Income</span></dt>
        <dd>
            <span>{{vm.apeksha.annualIncome}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.familyDetails">Family Details</span></dt>
        <dd>
            <span>{{vm.apeksha.familyDetails}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landTotalCent">Land Total Cent</span></dt>
        <dd>
            <span>{{vm.apeksha.landTotalCent}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landThaluk">Land Thaluk</span></dt>
        <dd>
            <span>{{vm.apeksha.landThaluk}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landVillage">Land Village</span></dt>
        <dd>
            <span>{{vm.apeksha.landVillage}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.landDistrict">Land District</span></dt>
        <dd>
            <span>{{vm.apeksha.landDistrict}}</span>
        </dd>

    </dl>
</div>
<div class="tab-pane" id="2a">    
    <dl class="dl-horizontal jh-entity-details">

        <dt><span data-translate="janasanthwanamApp.apeksha.requirementPurpose">Requirement Purpose</span></dt>
        <dd>
            <span>{{vm.apeksha.requirementPurpose}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.recommendationMinister">Recommendation Minister</span></dt>
        <dd>
            <span>{{vm.apeksha.recommendationMinister}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.recommendationMLA">Recommendation MLA</span></dt>
        <dd>
            <span>{{vm.apeksha.recommendationMLA}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.recommendationMP">Recommendation MP</span></dt>
        <dd>
            <span>{{vm.apeksha.recommendationMP}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.recommendationOthers">Recommendation Others</span></dt>
        <dd>
            <span>{{vm.apeksha.recommendationOthers}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.hospitalName">Hospital Name</span></dt>
        <dd>
            <span>{{vm.apeksha.hospitalName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.treatmentHistory">Treatment History</span></dt>
        <dd>
            <span>{{vm.apeksha.treatmentHistory}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.expectedAmount">Expected Amount</span></dt>
        <dd>
            <span>{{vm.apeksha.expectedAmount}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.anyAmountReceivingFromGovt">Any Amount Receiving From Govt</span></dt>
        <dd>
            <span>{{vm.apeksha.anyAmountReceivingFromGovt}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.govtAmountPurposeDetails">Govt Amount Purpose Details</span></dt>
        <dd>
            <span>{{vm.apeksha.govtAmountPurposeDetails}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.bankName">Bank Name</span></dt>
        <dd>
            <span>{{vm.apeksha.bankName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.bankBranchName">Bank Branch Name</span></dt>
        <dd>
            <span>{{vm.apeksha.bankBranchName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.bankAccountNumber">Bank Account Number</span></dt>
        <dd>
            <span>{{vm.apeksha.bankAccountNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.bankIfscCode">Bank Ifsc Code</span></dt>
        <dd>
            <span>{{vm.apeksha.bankIfscCode}}</span>
        </dd>

    </dl>
</div>
<div class="tab-pane" id="3a">
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="janasanthwanamApp.apeksha.additionalDocuments">Additional Documents</span></dt>
        <dd>
            <div ng-if="vm.apeksha.additionalDocuments">
                <a ng-click="vm.openFile(vm.apeksha.additionalDocumentsContentType, vm.apeksha.additionalDocuments)" data-translate="entity.action.open">open</a>
                <span data-translate="janasanthwanamApp.apeksha.additionalDocuments"></span>
                <!-- {{vm.apeksha.additionalDocumentsContentType}} --><!-- , {{vm.byteSize(vm.apeksha.additionalDocuments)}} -->
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.remarks">Remarks</span></dt>
        <dd>
            <span>{{vm.apeksha.remarks}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.dateOfApplcation">Date Of Applcation</span></dt>
        <dd>
            <span>{{vm.apeksha.dateOfApplcation | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeAvailable">Nominee Available</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeAvailable}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeName">Nominee Name</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeGender">Nominee Gender</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeGender}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeAge">Nominee Age</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeAge}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeRelationship">Nominee Relationship</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeRelationship}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeHouseName">Nominee House Name</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeHouseName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeHouseNumber">Nominee House Number</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeHouseNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeTcNo">Nominee Tc No</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeTcNo}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeVillage">Nominee Village</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeVillage}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeThaluk">Nominee Thaluk</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeThaluk}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineePanchayat">Nominee Panchayat</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineePanchayat}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineePostOffice">Nominee Post Office</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineePostOffice}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineePinCode">Nominee Pin Code</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineePinCode}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeMobileNumber">Nominee Mobile Number</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeMobileNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeLandLineWithSTD">Nominee Land Line With STD</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeLandLineWithSTD}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeBankName">Nominee Bank Name</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeBankName}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeBankBranch">Nominee Bank Branch</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeBankBranch}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeBankAccountNumber">Nominee Bank Account Number</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeBankAccountNumber}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeBankIfscCode">Nominee Bank Ifsc Code</span></dt>
        <dd>
            <span>{{vm.apeksha.nomineeBankIfscCode}}</span>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.photo">Photo</span></dt>
        <dd>
            <div ng-if="vm.apeksha.photo">
                <a ng-click="vm.openFile(vm.apeksha.photoContentType, vm.apeksha.photo)" data-translate="entity.action.open">open</a>
                <!-- {{vm.apeksha.photoContentType}}, {{vm.byteSize(vm.apeksha.photo)}} -->
               <span data-translate="janasanthwanamApp.apeksha.photo"></span><!-- , {{vm.byteSize(vm.apeksha.photo)}} -->
            </div>

        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.applicationForm">Application Form</span></dt>
        <dd>
            <div ng-if="vm.apeksha.applicationForm">
                <a ng-click="vm.openFile(vm.apeksha.applicationFormContentType, vm.apeksha.applicationForm)" data-translate="entity.action.open">open</a>
                <!-- {{vm.apeksha.applicationFormContentType}}, {{vm.byteSize(vm.apeksha.applicationForm)}} -->
                <span data-translate="janasanthwanamApp.apeksha.applicationForm"></span><!-- , {{vm.byteSize(vm.apeksha.applicationForm)}} -->
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.aadharCard">Aadhar Card</span></dt>
        <dd>
            <div ng-if="vm.apeksha.aadharCard">
                <a ng-click="vm.openFile(vm.apeksha.aadharCardContentType, vm.apeksha.aadharCard)" data-translate="entity.action.open">open</a>
                <!-- {{vm.apeksha.aadharCardContentType}}, {{vm.byteSize(vm.apeksha.aadharCard)}} -->
                <span data-translate="janasanthwanamApp.apeksha.aadharCard"></span><!-- , {{vm.byteSize(vm.apeksha.aadharCard)}} -->
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.rationCard">Ration Card</span></dt>
        <dd>
            <div ng-if="vm.apeksha.rationCard">
                <a ng-click="vm.openFile(vm.apeksha.rationCardContentType, vm.apeksha.rationCard)" data-translate="entity.action.open">open</a>
                <span data-translate="janasanthwanamApp.apeksha.rationCard"></span><!-- , {{vm.byteSize(vm.apeksha.rationCard)}} -->
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.doctorReport">Doctor Report</span></dt>
        <dd>
            <div ng-if="vm.apeksha.doctorReport">
                <a ng-click="vm.openFile(vm.apeksha.doctorReportContentType, vm.apeksha.doctorReport)" data-translate="entity.action.open">open</a>
                <span data-translate="janasanthwanamApp.apeksha.doctorReport"></span><!-- , {{vm.byteSize(vm.apeksha.doctorReport)}} -->
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.bankPassbookFrontPage">Bank Passbook Front Page</span></dt>
        <dd>
            <div ng-if="vm.apeksha.bankPassbookFrontPage">
                <a ng-click="vm.openFile(vm.apeksha.bankPassbookFrontPageContentType, vm.apeksha.bankPassbookFrontPage)" data-translate="entity.action.open">open</a>
                <span data-translate="janasanthwanamApp.apeksha.bankPassbookFrontPage"></span><!-- , {{vm.byteSize(vm.apeksha.bankPassbookFrontPage)}} -->
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineePhoto">Nominee Photo</span></dt>
        <dd>
            <div ng-if="vm.apeksha.nomineePhoto">
                <a ng-click="vm.openFile(vm.apeksha.nomineePhotoContentType, vm.apeksha.nomineePhoto)" data-translate="entity.action.open">open</a>
                <span data-translate="janasanthwanamApp.apeksha.nomineePhoto"></span><!-- , {{vm.byteSize(vm.apeksha.nomineePhoto)}} -->
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeAadharCardRationCard">Nominee Aadhar Card Ration Card</span></dt>
        <dd>
            <div ng-if="vm.apeksha.nomineeAadharCardRationCard">
                <a ng-click="vm.openFile(vm.apeksha.nomineeAadharCardRationCardContentType, vm.apeksha.nomineeAadharCardRationCard)" data-translate="entity.action.open">open</a>
                <span data-translate="janasanthwanamApp.apeksha.nomineeAadharCardRationCard"></span><!-- , {{vm.byteSize(vm.apeksha.nomineeAadharCardRationCard)}} -->
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeRelationShipProof">Nominee Relation Ship Proof</span></dt>
        <dd>
            <div ng-if="vm.apeksha.nomineeRelationShipProof">
                <a ng-click="vm.openFile(vm.apeksha.nomineeRelationShipProofContentType, vm.apeksha.nomineeRelationShipProof)" data-translate="entity.action.open">open</a>
                <span data-translate="janasanthwanamApp.apeksha.nomineeRelationShipProof"></span><!-- , {{vm.byteSize(vm.apeksha.nomineeRelationShipProof)}} -->
            </div>
        </dd>
        <dt><span data-translate="janasanthwanamApp.apeksha.nomineeBankPassbookFrontPage">Nominee Bank Passbook Front Page</span></dt>
        <dd>
            <div ng-if="vm.apeksha.nomineeBankPassbookFrontPage">
                <a ng-click="vm.openFile(vm.apeksha.nomineeBankPassbookFrontPageContentType, vm.apeksha.nomineeBankPassbookFrontPage)" data-translate="entity.action.open">open</a>
                <span data-translate="janasanthwanamApp.apeksha.nomineeBankPassbookFrontPage"></span><!-- , {{vm.byteSize(vm.apeksha.nomineeBankPassbookFrontPage)}} -->
            </div>
        </dd>
    </dl>
</div>        
</div>
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="apeksha-detail.edit({id:vm.apeksha.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>


